{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WatchedList</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/55d0223fcd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
        <div class="nav-bar">
                <div class="logo">
                        <h1>Rewind <i class="fa-solid fa-backward"></i></h1>
                </div>
                <div class="nav-bar-items">
                        <div class="home-btn nav-item"><i class="fa-solid fa-house"></i><span class="active-nav-item"></span></div>
                        <div class="new-series-btn nav-item"><i class="fa-solid fa-circle-plus"></i><span></span></div>
                        <div class="profile-btn nav-item"><i class="fa-solid fa-list"></i><span></span></div>
                </div>
                <div class="settings">
                        <div><i class="fa-solid fa-gear"></i></div>
                        <div><a href="/logout">Log out</a></div>
                </div>
        </div>
        <div class="filters">
                <div class="filter-list">
                        <div class="filter-items">New Movies</div>
                        <div class="filter-items">Popular Movies</div>
                        <div class="filter-items">For You</div>
                        <div class="filter-items">New Shows</div>
                        <div class="filter-items">Popular Shows</div>     
                </div>
        </div>
        <div class="left-bar">
                <div class="profile-box side-bar-box">
                        <div class="user-background"></div>
                        <div class="profile-header">
                                <div class="followers-count-container profile-header-item">
                                        <p class="followers-count">1000<p style="color: #b1aeae;">Watchers</p></p>
                                </div>
                                <div class="img-container profile-header-item">
                                        <img src="{{user_profile.profile_img.url}}" alt="">
                                        <div class="profile-username">
                                                <p class="user-name">Hameedah Lawal</p>
                                                <p class="username">{{user_profile.user}}</p>
                                        </div>
                                </div>
                                <div class="following-count-container profile-header-item">
                                        <p class="following-count">1000<p style="color: #b1aeae;">Watching</p></p>
                                </div>
                        </div>
                        <div class="profile-bio">
                                <p class="bio">{{user_profile.bio}}</p>
                        </div>
                        <div class="my-profile-btn-container"><div class="my-profile-btn"><p>My Profile</p></div></div>
                </div>
                <div class="genres-container left-bar-items">
                        <h4>Genres</h4>
                        <div class="genre-item"><p>Drama</p></div>
                        <div class="genre-item"><p>Sci-fi</p></div>
                        <div class="genre-item"><p>Anime</p></div>
                        <div class="genre-item"><p>Adventure</p></div>
                        <div class="genre-item"><p>Action</p></div>
                        <div class="genre-item"><p>Comedy</p></div>
                </div>
                <div class="just-watched left-bar-items">
                        <h4>Just Watched</h4>
                        <div class="genre-item"><p>Drama</p></div>
                        <div class="genre-item"><p>Sci-fi</p></div>
                        <div class="genre-item"><p>Anime</p></div>
                        <div class="genre-item"><p>Adventure</p></div>
                        <div class="genre-item"><p>Action</p></div>
                        <div class="genre-item"><p>Comedy</p></div>
                </div>
        </div>
        <div class="user-feed">
                <div class="feed-list">
                        {% for movie in popular_movies %}
                                <div class="movie movie-box movie-main-box">
                                        <img class="movie-poster" src="{{movie.image}}" alt="">
                                        <h3 class="movie-title">{{movie.fullTitle}}</h3>
                                        <input type="hidden" name="trailer" value="{{movie.fullTitle}}">
                                        <input type="hidden" name="trailer" value="{{movie.fullTitle}}">

                                        <input type="hidden" name="trailer" value="">

                                </div>
                        {% endfor %}
                </div>
        </div> 
        <div class="right-bar">
                <div class="movie-bar">
                        <div class="movie-bar-content">
                                <img class="movie-poster" src="{{popular_movies.0.image}}" alt="">
                                <h3 class="movie-title">{{popular_movies.0.fullTitle}}</h3>
                        </div>
                        <div class="movie-bar-content ratings">
                                <div class="rating">
                                        <img class="rating-logo" src="{% static 'images/tomatoe.png' %}" alt="">
                                        <p class="rating-amount">{{popular_movies.0.ratings.rottenTomatoes}}%</p>
                                </div>
                                <div class="rating">
                                        <img class="rating-logo" src="{% static 'images/metacritic.png' %}" alt="">
                                        <p class="rating-amount">{{popular_movies.0.ratings.metacritic}}%</p>
                                </div>
                                <div class="rating">
                                        <img style="width: 1.5rem;" class="rating-logo" src="{% static 'images/imdb.png' %}" alt="">
                                        <p class="rating-amount" style="position: relative; top: 2px;">{{popular_movies.0.ratings.imDb}}/10</p>
                                </div>
                        </div>
                        <div class="movie-bar-content plot">
                                <p>{{popular_movies.0.trailer.videoDescription}}</p>
                        </div>
                        <div class="movie-bar-content movie-info">
                                <div class="movie-info-headers">
                                        <p>Genres:</p>
                                        <p>Countries:</p>
                                        <p>Languages:</p>
                                        <p>Rated:</p>
                                        <p>Runtime:</p>
                                        <p>Release:</p>
                                </div>
                                <div class="movie-info-items">
                                        <p>{{popular_movies.0.genres}}</p>
                                        <p>{{popular_movies.0.countries}}</p>
                                        <p>{{popular_movies.0.languages}}</p>
                                        <p>{{popular_movies.0.contentRating}}</p>
                                        <p>{{popular_movies.0.runtimeStr}}</p>
                                        <p>{{popular_movies.0.releaseDate}}</p>
                                </div>
                        </div>
                        <div class="movie-bar-content watch-options">
                                <div class="stream-option">
                                        <p>Stream</p>
                                </div>
                                <div class="rent-option">
                                        <p>Rent</p>
                                        <img class="streaming-logo" src="{% static 'images/' %}" alt="">
                                </div>
                        </div>
                        <div class="movie-bar-content movie-btns">
                                <a class="trailer-url" href="{{popular_movies.0.trailer.link}}"><div class="trailer-btn">
                                        <p>Watch Trailer</p>
                                </div></a>
                                <div class="add-to-list-btn">
                                        <p>+</p>
                                </div>                      
                        </div>
                </div>
        </div>
        <script>
                $(".movie").click(function () {
                        image = $(this).children(".movie-poster").attr("src");
                        title = $(this).children(".movie-title").text();

                        $(".side-bar-movie-box").children(".movie-poster").attr("src", image);
                        $(".side-bar-movie-box").children(".movie-title").text(title);
                });
        </script>
</body>
</html>