{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WatchedList</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/55d0223fcd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/events.js' %}" defer></script>

</head>
<body>
        <div class="nav-bar">
                <div class="logo">
                        <h1>Rewind <i class="fa-solid fa-backward"></i></h1>
                </div>
                <div class="nav-bar-items">
                        <a href="/feed"><div class="home-btn nav-item"><i class="fa-solid fa-house"></i><span></span></div></a>
                        <a href="/upload"><div class="new-series-btn nav-item"><i class="fa-solid fa-circle-plus"></i><span></span></div></a>
                        <a href="/"><div class="search-btn nav-item"><i class="fa-solid fa-tv"></i><span class="active-nav-item"></span></div></a>
                        <div class="search-btn nav-item"><i class="fa-solid fa-magnifying-glass"></i><span></span></div>
                </div>
                <div class="settings">
                        <div><a href="/settings"><i class="fa-solid fa-gear"></i></a></div>
                        <div><a href="/logout">Log out</a></div>
                </div>
        </div>
        <div class="filters">
                <div class="filter-list">
                        <div class="filter-items">New Movies</div>
                        <div class="filter-items active">Popular Movies</div>
                        <div class="filter-items">For You</div>
                        <div class="filter-items">Popular Shows</div>  
                        <div class="filter-items">New Shows</div>
                </div>
        </div>
        <div class="left-bar">
                <div class="profile-box side-bar-box">
                        <div class="user-background"></div>
                        <div class="profile-header">
                                <div class="followers-count-container profile-header-item">
                                        <p class="followers-count">1000<p style="color: #b1aeae;">Watchers</p></p>
                                </div>
                                <div class="img-container profile-header-item">
                                        <img src="{{user_profile.profile_img.url}}" alt="">
                                        <div class="profile-username">
                                                <p class="user-name">Hameedah Lawal</p>
                                                <p class="username">{{user_profile.user}}</p>
                                        </div>
                                </div>
                                <div class="following-count-container profile-header-item">
                                        <p class="following-count">1000<p style="color: #b1aeae;">Watching</p></p>
                                </div>
                        </div>
                        <div class="profile-bio">
                                <p class="bio">{{user_profile.bio}}</p>
                        </div>
                        <a href="/list"><div class="my-profile-btn-container"><div class="my-profile-btn"><p>My Rewind <i class="fa-solid fa-list-ul"></i></p></div></div></a>
                </div>
                <div class="genres-container left-bar-items">
                        <h4>Genres</h4>
                        <div class="genre-item"><p>Drama</p></div>
                        <div class="genre-item"><p>Sci-fi</p></div>
                        <div class="genre-item"><p>Anime</p></div>
                        <div class="genre-item"><p>Adventure</p></div>
                        <div class="genre-item"><p>Action</p></div>
                        <div class="genre-item"><p>Comedy</p></div>
                </div>
                <div class="just-watched left-bar-items">
                        <h4>Just Watched</h4>
                        <div class="genre-item"><p>Drama</p></div>
                        <div class="genre-item"><p>Sci-fi</p></div>
                        <div class="genre-item"><p>Anime</p></div>
                        <div class="genre-item"><p>Adventure</p></div>
                        <div class="genre-item"><p>Action</p></div>
                        <div class="genre-item"><p>Comedy</p></div>
                </div>
        </div>
        <div class="user-feed">
                <div class="feed-list">
                        {% for movie in popular_movies %}
                                <div class="movie movie-box movie-main-box">
                                        <img class="movie-poster" src="{{movie.image}}" alt="">
                                        <h3 class="movie-title">{{movie.fullTitle}}</h3>
                                        <input type="hidden" class="genre" value="{{movie.genres}}">
                                        <input type="hidden" class="conuntry" value="{{movie.countries}}">
                                        <input type="hidden" class="language" value="{{movie.languages}}">
                                        <input type="hidden" class="contentRating" value="{{movie.contentRating}}">
                                        <input type="hidden" class="runtime" value="{{movie.runtimeStr}}">
                                        <input type="hidden" class="release" value="{{movie.releaseDate}}">
                                        <input type="hidden" class="tomatoes" value="{{movie.ratings.rottenTomatoes}}">
                                        <input type="hidden" class="metacritic" value="{{movie.ratings.metacritic}}">
                                        <input type="hidden" class="imdb-id" value="{{movie.ratings.imDbId}}">
                                        <input type="hidden" class="imdb" value="{{movie.ratings.imDb}}">
                                        <input type="hidden" class="trailer" value="{{movie.trailer.link}}">
                                        <input type="hidden" class="plot" value="{{movie.plot}}">
                                </div>
                        {% endfor %}
                </div>
        </div> 
        <div class="frame">
                <!-- <iframe class="trailer-screen" height="600" width="856" src="{{popular_movies.0.trailer.linkEmbed}}" frameborder="8"></iframe> -->
        </div>
        <div class="right-bar">
                <div class="movie-bar">
                        <div class="movie-bar-content">
                                <img class="movie-poster" src="{{popular_movies.0.image}}" alt="">
                                <h3 class="movie-title">{{popular_movies.0.fullTitle}}</h3>
                        </div>
                        <div class="movie-bar-content ratings">
                                <div class="rating">
                                        <img class="rating-logo" src="{% static 'images/tomatoe.png' %}" alt="">
                                        <p class="rating-amount tomatoes-text">{{popular_movies.0.ratings.rottenTomatoes}}</p>
                                </div>
                                <div class="rating">
                                        <img class="rating-logo" src="{% static 'images/metacritic.png' %}" alt="">
                                        <p class="rating-amount metacritic-text">{{popular_movies.0.ratings.metacritic}}</p>
                                </div>
                                <div class="rating">
                                        <img style="width: 1.5rem;" class="rating-logo" src="{% static 'images/imdb.png' %}" alt="">
                                        <p class="rating-amount imdb-text" style="position: relative; top: 2px;">{{popular_movies.0.ratings.imDb}}</p>
                                </div>
                        </div>
                        <input type="hidden" class="stream-id" value="">
                        <script>$(".stream-id").val("{{popular_movies.0.ratings.imDbId}}");</script>
                        <div class="movie-bar-content plot-div">
                                <p class="plot-text">{{popular_movies.0.plot}}</p>
                        </div>
                        <div class="movie-bar-content movie-info">
                                <div class="movie-info-items">
                                        <p class="genre-text">{{popular_movies.0.genres}}</p>
                                        <p class="conuntry-text">{{popular_movies.0.countries}}</p>
                                        <p class="language-text">{{popular_movies.0.languages}}</p>
                                        <p class="contentRating-text">{{popular_movies.0.contentRating}}</p>
                                        <p class="runtime-text">{{popular_movies.0.runtimeStr}}</p>
                                        <p class="release-text">{{popular_movies.0.releaseDate}}</p>
                                </div>
                        </div>
                        <div class="movie-bar-content movie-btns">
                                <div class="stream-btn">
                                        <p>Where To Watch</p>
                                </div>
                                <div class="watch-options">
                                        <p class="stream-header">Stream Options</p>
                                        <i class="fa-solid fa-minus close-stream"></i>
                                        <div class="stream-option">
                                                <a href="" target="_blank"><img class="streaming-logo appleTv" src="{% static 'images/appleTv.png' %}" alt=""></a>
                                                <a href="" target="_blank"><img class="streaming-logo hulu" src="{% static 'images/hulu.png' %}" alt=""></a>
                                                <a href="" target="_blank"><img class="streaming-logo netflix" src="{% static 'images/netflix.png' %}" alt=""></a>
                                                <a href="" target="_blank"><img class="streaming-logo paramount" src="{% static 'images/paramount.png' %}" alt=""></a>
                                                <a href="" target="_blank"><img class="streaming-logo disney" src="{% static 'images/disney.png' %}" alt=""></a>
                                                <a href="" target="_blank"><img class="streaming-logo hbo" src="{% static 'images/hbo.png' %}" alt=""></a>
                                                <a href="" target="_blank"><img class="streaming-logo prime" src="{% static 'images/prime.png' %}" alt=""></a>
                                        </div>
                                </div>
                        </div>
                        <div class="movie-bar-content movie-btns trailer-btn-div">
                                <a class="trailer-link" target="_blank" href="{{popular_movies.0.trailer.link}}"><div class="trailer-btn">
                                        <p>Watch Trailer</p>
                                </div></a>
                                <div class="add-to-list-btn">
                                        <p>+</p>
                                </div>                      
                        </div>
                </div>
        </div>
        <script>

                $(".movie").click(function () {
                        image = $(this).children(".movie-poster").attr("src");
                        title = $(this).children(".movie-title").text();

                        $(".movie-bar-content").children(".movie-poster").attr("src", image);
                        $(".movie-bar-content").children(".movie-title").text(title);

                        $(".plot-text").text($(this).children(".plot").val());
                        $(".genre-text").text($(this).children(".genre").val());
                        $(".country-text").text($(this).children(".country").val());
                        $(".language-text").text($(this).children(".language").val());
                        $(".contentRating-text").text($(this).children(".contentRating").val());
                        $(".runtime-text").text($(this).children(".runtime").val());
                        $(".release-text").text($(this).children(".release").val());
                        $(".trailer-link").attr("href", $(this).children(".trailer").val());
                        $(".stream-id").val($(this).children(".imdb-id").val());

                       // if ($(".tomatoes").val() == "" || $(".tomatoes").val() == "None"){ 
                                console.log("Hi")
                                $(".tomatoes-text").text($(this).children(".tomatoes").val());
                       // }
                       // if ($(".metacritic").val() == "" || $(".metacritic").val() == "None"){ 
                                $(".metacritic-text").text($(this).children(".metacritic").val());
                       // }
                        //if ($(".imdb").val() == "" || $(".imdb").val() == "None"){ 
                                $(".imdb-text").text($(this).children(".imdb").val());
                       // }
                        $(".stream-btn").show();
                        $(".watch-options").css("display", "none");
                });
        </script>
</body>
</html>