{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
</head>
<body>
        <div>
                <!-- display error messages -->
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}

        </div>
       <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password">
                <button type="submit">Sign Up</button>
                
       </form> 
</body>
</html>