{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/posting.js' %}" defer></script>
        <script src="https://kit.fontawesome.com/55d0223fcd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
        <div class="nav-bar">
                <div class="logo">
                        <h1>Rewind <i class="fa-solid fa-backward"></i></h1>
                </div>
                <div class="nav-bar-items">
                        <a href="/feed"><div class="home-btn nav-item"><i class="fa-solid fa-house"></i><span></span></div></a>
                        <a href="/upload"><div class="new-series-btn nav-item"><i class="fa-solid fa-circle-plus"></i><span class="active-nav-item"></span></div></a>
                        <a href="/"><div class="search-btn nav-item"><i class="fa-solid fa-tv"></i><span></span></div></a>
                        <a href=""><div class="search-btn nav-item"><i class="fa-solid fa-magnifying-glass"></i><span></span></div></a>
                </div>
                <div class="settings">
                        <div><a href="/settings"><i class="fa-solid fa-gear"></i></a></div>
                        <div><a href="/logout">Log out</a></div>
                </div>
        </div>
        <div class="left-bar">
                <div class="profile-box side-bar-box">
                        <div class="user-background"></div>
                        <div class="profile-header">
                                <div class="followers-count-container profile-header-item">
                                        <p class="followers-count">1000<p style="color: #b1aeae;">Watchers</p></p>
                                </div>
                                <div class="img-container profile-header-item">
                                        <img src="{{user_profile.profile_img.url}}" alt="">
                                        <div class="profile-username">
                                                <p class="user-name">Hameedah Lawal</p>
                                                <p class="username">{{user_profile.user}}</p>
                                        </div>
                                </div>
                                <div class="following-count-container profile-header-item">
                                        <p class="following-count">1000<p style="color: #b1aeae;">Watching</p></p>
                                </div>
                        </div>
                        <div class="profile-bio">
                                <p class="bio">{{user_profile.bio}}</p>
                        </div>
                        <a href="/list"><div class="my-profile-btn-container"><div class="my-profile-btn"><p>My Rewind <i class="fa-solid fa-list-ul"></i></p></div></div></a>
                </div>
                <div class="genres-container left-bar-items">
                        <h4>Genres</h4>
                        <div class="genre-item"><p>Drama</p></div>
                        <div class="genre-item"><p>Sci-fi</p></div>
                        <div class="genre-item"><p>Anime</p></div>
                        <div class="genre-item"><p>Adventure</p></div>
                        <div class="genre-item"><p>Action</p></div>
                        <div class="genre-item"><p>Comedy</p></div>
                </div>
                <div class="just-watched left-bar-items">
                        <h4>Just Watched</h4>
                        <div class="genre-item"><p>Drama</p></div>
                        <div class="genre-item"><p>Sci-fi</p></div>
                        <div class="genre-item"><p>Anime</p></div>
                        <div class="genre-item"><p>Adventure</p></div>
                        <div class="genre-item"><p>Action</p></div>
                        <div class="genre-item"><p>Comedy</p></div>
                </div>
        </div>
        <div class="user-feed">
                <div class="search-div">
                        <form action="upload" method="post" class="movie-query-form">
                                {% csrf_token %}
                                <input type="text" name="movie-query" id="movie-query" placeholder="Search">
                                <label for="">Movie</label>
                                <input type="radio" name="title-type" id="feature">
                                <label for="">TV Show</label>
                                <input type="radio" name="title-type" id="tv_series">
                                <button>Search</button>
                                <div class="titles-found">
                                </div>
                                <br>
                                <input type="text" name="caption" id="caption" placeholder="What would you like to share about this title?">
                                <input type="hidden" name="movie_id">
                                <input type="hidden" name="movie_img">
                                <input type="hidden" name="movie_title">
                                <button type="submit">Add to Rewind</button>
                        </form>
                </div>
        </div> 
        <div class="right-bar">
                <div class="movie-bar">
                        <h4>Preivew</h4>
                        <div class="movie-bar-content">
                                <img class="movie-poster" src="{{popular_movies.0.image}}" alt="">
                                <h3 class="movie-title">{{popular_movies.0.fullTitle}}</h3>
                        </div>
                        <h5>Give your rating!</h5>
                        <div class="movie-bar-content ratings">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                        </div>
                        <input type="hidden" class="stream-id" value="">
                        <script>$(".stream-id").val("{{popular_movies.0.ratings.imDbId}}");</script>
                        <div class="movie-bar-content plot-div">
                                <p class="plot-text">{{popular_movies.0.plot}}</p>
                        </div>
                        <div class="movie-bar-content movie-info">
                                <p class="caption-preview">This is the cation</p>
                        </div>
                        <div class="movie-bar-content movie-btns">
                                <div class="stream-btn">
                                        <p>Add to Rewind</p>
                                </div>
                        </div>
                </div>
        </div>
        <script>
                
        </script>
</body>
</html>